.restaurantsCard {
  align-items: flex-start;
  background-color: #eca72c;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 2%;
  padding: 1em;
  width: 300px;
}

.restaurantListComponent {
  background-image: url("./restaurantes1.png");
  height: 100vh;
}

.restaurantList{
  display: flex;
  flex-wrap: wrap;
}

.tittleList {
  color: aliceblue;
  text-align: center;
  width: 100%;
  padding-top: 2%;
}
